* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0px 24px;
}

.content {
    margin-bottom: 94px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
